# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Atlas (Cloud)
MONGODB_URI=mongodb+srv://AucNep:1234@aucnep.q0fc9ta.mongodb.net/auction-nepal?appName=AucNep

# JWT Authentication
JWT_SECRET=uA93kF7xQ1zB8mP2wS4eV9tY6rT0cH5jL8nG3uK1pR7dF4sW2bE6aQ9vM0yX3z
JWT_REFRESH_SECRET=your-refresh-token-secret-key-change-this-to-something-secure

# Email Configuration (Gmail)
EMAIL_USER=saskritjapan@gmail.com
EMAIL_APP_PASSWORD=gmbljikogagztwwx

# Frontend URL (for password reset links)
FRONTEND_URL=http://localhost:3000

# Cloudinary Configuration (for image/document uploads)
CLOUDINARY_CLOUD_NAME=dapkkb0kx
CLOUDINARY_API_KEY=319858591975257
CLOUDINARY_API_SECRET=2PPDCwgBajRVEOzg-b1PMt6UJNo
CLOUDINARY_URL=cloudinary://319858591975257:2PPDCwgBajRVEOzg-b1PMt6UJNo@dapkkb0kx

